body {
    background-color: #150d36;
    line-height: 30px;
    height: 100%;
}

h1 {
    font-family: 'Cousine';
    font-weight: bold;
}

p {
    font-family: 'Cousine';
    text-align: left;
    margin: 20px 70px 20px 70px;
    color: #ffffff;
}

article {
    color: #ffffff;
    font-family: 'Cousine';
    text-align: left;
    height: 80%;
}

li {
    text-align: left;
    margin-left: 80px;
}

.name {
    color: #ffffff;
    font-size: 40px;
}

.main {
    width: 60%;
    text-align: center;
    margin: 4% auto;
    border: solid 2px #ffffff;
    border-radius: 5px;
    padding: 5% 5%;
}

ul li:hover{
    color: #ff7700;
}